* {
  box-sizing: border-box; }

html, body {
  font-size: 10px;
  margin: 0;
  padding: 0; }
  @media (max-width: 768px) {
    html, body {
      font-size: 8px; } }

a {
  text-decoration: none; }

@font-face {
  font-family: Muli;
  src: url(../assets/fonts/Muli.ttf); }
@font-face {
  font-family: Muli-Light;
  src: url(../assets/fonts/Muli-Light.ttf); }
@font-face {
  font-family: Muli-ExtraLight;
  src: url(../assets/fonts/Muli-ExtraLight.ttf); }
@font-face {
  font-family: Raleway-Light;
  src: url(../assets/fonts/Raleway-Light.ttf); }
@font-face {
  font-family: Raleway-Regular;
  src: url(../assets/fonts/Raleway-Regular.ttf); }
@font-face {
  font-family: Raleway-SemiBold;
  src: url(../assets/fonts/Raleway-SemiBold.ttf); }
.gray-navbar-logo {
  background-image: url(../assets/homeImages/LogoHeader.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
  margin: .5em 1em 0 1em;
  padding-top: 3%;
  min-height: 31px;
  min-width: 31px;
  width: 3%; }
  .gray-navbar-logo.logo-alt {
    background-image: url(../assets/images/paci_logo_blanco.svg);
    padding-top: 4.5% !important;
    margin: 1em;
    margin-left: -1em; }

.navbar {
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed !important;
  width: 100%;
  z-index: 10; }
  .navbar .menuToggle {
    display: none; }
  @media (max-width: 768px) {
    .navbar .menuToggle {
      display: block;
      position: fixed;
      top: 15px;
      right: 10%;
      z-index: 6;
      -webkit-user-select: none;
      user-select: none; } }
  @media (max-width: 768px) and (max-width: 480px) {
    .navbar .menuToggle {
      top: 10px; } }
  @media (max-width: 768px) {
      .navbar .menuToggle .burger {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none; }
      .navbar .menuToggle :checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323; }
      .navbar .menuToggle :checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2); }
      .navbar .menuToggle :checked ~ span:nth-last-child(2) {
        opacity: 1;
        transform: rotate(-45deg) translate(0, -1px); }
      .navbar .menuToggle :checked ~ ul {
        right: 0px; }
      .navbar .menuToggle .burger-span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: black;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
        .navbar .menuToggle .burger-span.burguer-alt {
          background: #FFFFFF; }
      .navbar .menuToggle :first-child {
        transform-origin: 0% 0%; }
      .navbar .menuToggle :nth-last-child(2) {
        transform-origin: 0% 100%; }
      .navbar .menuToggle .menu {
        position: fixed;
        width: 250px;
        padding-top: 60px;
        top: 0;
        right: -250px;
        background: #FFFFFF;
        list-style-type: none;
        transition: right 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        background-color: rgba(255, 255, 255, 0.7);
        margin-top: 0; }
        .navbar .menuToggle .menu .collapsed-item {
          text-align: left;
          margin: 5% -5%;
          color: #FFFFFF; }
          .navbar .menuToggle .menu .collapsed-item .item {
            font-size: 2em;
            font-family: 'Raleway-Regular'; }
          .navbar .menuToggle .menu .collapsed-item a:link {
            text-decoration: none; }
          .navbar .menuToggle .menu .collapsed-item a {
            color: #FFFFFF; } }

.gray-navbar-wrapper {
  display: inline-block;
  float: right;
  margin-top: 0;
  position: fixed;
  z-index: 10;
  right: 0;
  color: #FFFFFF; }
  .gray-navbar-wrapper.navbar-wrapper-alt {
    margin-right: 2%; }
  .gray-navbar-wrapper .gray-list {
    display: inline-block;
    color: #9B9B9B;
    font-family: Raleway-SemiBold;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5em;
    text-align: right;
    margin-right: 3em;
    margin-top: 1em; }
    .gray-navbar-wrapper .gray-list:hover {
      background-color: #FFFFFF;
      cursor: pointer; }
    .gray-navbar-wrapper .gray-list.list-alt {
      margin-top: 1.5em;
      margin-right: 2.5em; }
  .gray-navbar-wrapper a:link {
    text-decoration: none; }
  .gray-navbar-wrapper a {
    color: #9B9B9B; }
  @media (max-width: 768px) {
    .gray-navbar-wrapper {
      display: none; } }

.home-first-section {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%; }
  .home-first-section .carousel {
    height: 100vh; }
    .home-first-section .carousel .carousel-indicators {
      bottom: 0 !important; }
    .home-first-section .carousel .item {
      height: 100vh !important;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
      width: 100%; }
      .home-first-section .carousel .item .img1 {
        background-image: url(../assets/homeImages/constructoraExample2.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%; }
      .home-first-section .carousel .item .img2 {
        background-image: url(../assets/homeImages/constructoraExample1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%; }
      .home-first-section .carousel .item .img3 {
        background-image: url(../assets/homeImages/constructoraExample3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%; }
  .home-first-section .wrapper-bottom-right {
    bottom: 15%;
    position: absolute;
    right: 10%; }
    .home-first-section .wrapper-bottom-right .logo-bottom-right {
      background-image: url(../assets/homeImages/Logo.png);
      background-size: contain;
      background-repeat: no-repeat;
      height: 100%;
      min-height: 187px;
      min-width: 183px;
      width: 100%; }
    .home-first-section .wrapper-bottom-right .paragraph-bottom-right {
      color: #7C7B7D;
      font-family: Raleway-Light;
      font-size: 2em;
      font-weight: 600;
      line-height: 1.2em;
      max-width: 250px;
      padding-top: 1.5em; }

.divided-left, .divided-right {
  border-bottom: solid 2px blue;
  height: 100vh;
  background-color: #0065DC; }

.divided-side {
  float: left;
  font-family: Muli-Light;
  height: 100vh;
  padding: 5%;
  position: relative;
  width: 50%; }
  .divided-side .divided-image {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    max-height: 100vh;
    padding-top: 75%;
    width: 80%; }
  .divided-side .divided-wrapper {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 70%; }
    .divided-side .divided-wrapper .divided-title {
      color: #FFFFFF;
      font-family: Raleway-SemiBold;
      font-size: 3.3em;
      font-weight: bold;
      line-height: 42px; }
    .divided-side .divided-wrapper .divided-text {
      max-width: 416px;
      color: #EBEBEB;
      font-family: Raleway-Light;
      font-size: 1.3em;
      font-weight: 500;
      line-height: 28px; }
    .divided-side .divided-wrapper .divided-button {
      background-color: black;
      border: none;
      border-radius: 100px;
      color: #FFFFFF;
      font-size: 1.3em;
      margin-top: 2em;
      padding: 0.7em 3.6em;
      text-transform: uppercase; }
      .divided-side .divided-wrapper .divided-button:hover {
        background-color: black;
        cursor: pointer; }

/*# sourceMappingURL=main.css.map */
