//Text colors home
$white:			#FFFFFF;
$blueText:		#0065DC;
$grayText:		#4A4A4A;
$grayTitles:	#7C7C7C;
$grayH2:		#7C7B7D;
$grayNavbar:	#9B9B9B;
$hoverBlog:		#C6CDD1;
$whitePearl:	#EBEBEB;
$grayCard:		#757779;