$small-width: 480px;
$medium-width: 768px;
$extra-small-width: 320px;

@mixin extra-small{
	@media (max-width: #{$extra-small-width}){
    @content;
  }
}

@mixin small {
  @media (max-width: #{$small-width}){
    @content;
  }
}

@mixin medium {
  @media (max-width: #{$medium-width}){
    @content;
  }
}


