@charset 'UTF-8';

@import
  'abstracts/center',
  'abstracts/colors',
  'abstracts/variables';

@import
  'base/general',
  'base/fonts';

@import
  'layouts/footer',
  'layouts/navbar';

@import
  'pages/solutions/solutions',
  'pages/solutions/divided_section_in_blue',
  'pages/us/us',
  'pages/us/divided_section',
  'pages/us/divided',
  'pages/blog/blog',
  'layout/navbar',
  'layout/footer';

@import
  'pages/home/home',
  'pages/home/divided_home',
  'pages/home/home',
  'pages/home/bubbles',
  'pages/home/testimonial',
  'pages/home/divided_section',
  'pages/ourPlant/our_plant',
  'pages/contact/contact',
  'pages/blog/post',
  'pages/us/us';


