    .gray-navbar-logo{
      background-image: url(../assets/homeImages/LogoHeader.png);
      background-repeat:no-repeat;
      background-size:contain;
      background-position:center;
      display: inline-block;
      min-height: 31px;
      min-width: 31px;
      margin-left: 2%;
      width: 3%;
    }

    .navbar {
      align-items: center;
      background-color: $white;
      border-radius: 0 !important;
      display: flex;
      min-height: 50px;
      position: fixed !important;
      width: 100%;
      z-index: 10;
      
      &.navbar-alt {
        background-color: $white;
      }

        .menuToggle {
          display: none;
        }
        @include medium {
          .menuToggle {
            display: block;
            position: fixed;
            top: 15px;
            right: 10%;
            z-index: 6;
            -webkit-user-select: none;
            user-select: none;
            
           .burger {
             display: block;
             width: 40px;
             height: 32px;
             position: absolute;
             top: -7px;
             left: -5px;
             cursor: pointer;
             opacity: 0;
             z-index: 2;
             -webkit-touch-callout: none;
           }
           :checked ~ span {
             opacity: 1;
             transform: rotate(45deg) translate(-2px, -1px);
             background: #232323;
           }
           :checked ~ span:nth-last-child(3) {
             opacity: 0;
             transform: rotate(0deg) scale(0.2, 0.2);
           }
           :checked ~ span:nth-last-child(2) {
             opacity: 1;
             transform: rotate(-45deg) translate(0, -1px);
           }
           :checked ~ ul {
             right: 0px;
           }
           .burger-span {
             display: block;
             width: 33px;
             height: 4px;
             margin-bottom: 5px;
             position: relative;
             background: black;
             border-radius: 3px;
             z-index: 1;
             transform-origin: 4px 0px;
             transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;

             &.burguer-alt{
               background: $white;
             }
           }
           :first-child {
             transform-origin: 0% 0%;
           }
           :nth-last-child(2) {
             transform-origin: 0% 100%;
           }
           .menu {
             position: fixed;
             width: 250px;
             padding-top: 60px;
             top: 0;
             right: -250px;
             background: $grayTitles;
             list-style-type: none;
             transition: right 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
             background-color: $white;
             margin-top: 0;

             .collapsed-item{
               text-align: left;
               margin: 5% -5%;
               color: $grayTitles;

               .item {
                 font-size: 2em;
                 font-family: 'Raleway-Regular';
               }

                a:link {
                  text-decoration: none;
                }

                a{
                  color: $grayTitles;
                }
              }
           }
         }
       }
  }
    .gray-navbar-wrapper{
      display: inline-block;
      float: right;
      margin-top: 0;
      position: fixed;
      z-index: 10;
      right: 0;
      color: $white;

      &.navbar-wrapper-alt{
        margin-right: 2%;
      }

        .gray-list{
          display: inline-block;
          color: $grayNavbar;
          font-family: Raleway-SemiBold;
          font-size: 13px;
          font-weight: bold;
          line-height: 1.5em;
          text-align: right;
          margin-right: 3em;
          &:hover {
            background-color: $white;
            cursor: pointer;
          }

          &.list-alt{
            margin-right: 2.5em;
          }
        }

        a:link {
          text-decoration: none;
        }
        a{
          color: $grayNavbar;
        }

      @include medium{
        display: none;
      }
    }
