.ourPlantTop{
  height: 60vh;
  padding-top: 50px;
  width: 100%;

    .title-top{
      background-image: url(../assets/ourPlantImages/Nuestras.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
        
        .title-text{
          @include center(true,true);

          color: $white;
          display: table;
          font-family: Raleway-SemiBold;
          font-size: 60px;
          font-weight: bold;
          letter-spacing: 1px;
          line-height: 70px;
          padding: 10%;
          text-align: center;
          top: 30% !important;      
        }
    }
}
.slogan-top{
  background-color: $blueText;
  height: 50vh;
  width: 100%;
      
    .text-top{
      @include center(true,false);

      color: $whitePearl;
      font-family: Raleway-Light;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      text-align: center;
      width: 445px;
      top: 80% !important; 
    }
}

.padding-left-none{
  padding-left: 0px;
}

.padding-right-none{
  padding-right: 0px;
}
.imgPlantConoce{
  background-image: url(../assets/ourPlantImages/Conoce.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.imgPlantMovil{
  background-image: url(../assets/ourPlantImages/Planta.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}


.carousel-plant{
  
  .carousel{
    height: 100%;
   
      .carousel-inner-small{
        height: 100%;
      }
     
     .item{
       height: 100vh !important;
       background-size: cover;
       background-repeat: no-repeat;
       height: 100vh;
       width: 100%;
           
       
        
          .imgPlant{
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
            
            &.imgTabicon1{
              background-image: url(../assets/ourPlantImages/Nuestras/PlantaTabicon/tabicon1.jpg); 
            }
            &.imgTabicon2{
              background-image: url(../assets/ourPlantImages/Nuestras/PlantaTabicon/tabicon2.jpg); 
            }
            &.imgTabicon3{
              background-image: url(../assets/ourPlantImages/Nuestras/PlantaTabicon/tabicon3.jpg); 
            }
            
            &.laboratorio1{
              background-image: url(../assets/ourPlantImages/Nuestras/Laboratorio/Laboratorio1.jpg); 
            }
            &.laboratorio2{
              background-image: url(../assets/ourPlantImages/Nuestras/Laboratorio/Laboratorio2.jpg); 
            }
            &.laboratorio3{
              background-image: url(../assets/ourPlantImages/Nuestras/Laboratorio/Laboratorio3.jpg); 
            }
            
            &.equipamiento1{
              background-image: url(../assets/ourPlantImages/Nuestras/Equipamiento/Equipamiento1.jpg); 
            }
            &.equipamiento2{
              background-image: url(../assets/ourPlantImages/Nuestras/Equipamiento/Equipamiento2.jpg); 
            }
            &.equipamiento3{
              background-image: url(../assets/ourPlantImages/Nuestras/Equipamiento/Equipamiento3.jpg); 
            }
          }
      } 
  }
}
