.divided-two-left6 {

  .side-right6 {
    float: left;
  }
  .side-left6 {
    float: right;

    @include extra-small{

    }

  }
}

.divided-two-right6 {
  .side-right6 {
    float: right;
  }

  .side-left6 {
    float: left;
  }
}

.divided-two-left6, .divided-two-right6 {
  height: 30vw;
  background-color: $blueText;

  @include small {
    height: 120vw;      
  }

  @include extra-small{
    height: 140vw;
  }

  .side-left6, .side-right6 {
    font-family: Raleway-Regular;
    position: relative;
    width: 50%; 
    height: 30vw;   
      
    @include small {
      width: 100%;
      height: 50%;  
    }    

    @include extra-small{
      width: 100%;
      height: 50%;
    }

    .side-right-wrapper6 {
      height: 100%;
      width: 100%;  
    
      .one-image6{
        width: 100%; 
        background: url("../assets/images/Concreto-bombeado.jpg") bottom/cover no-repeat;
        height: 100%; 
        float: left;
        display: block;
      }  

      .one-image-solution{
        @extend .one-image6;
        background: url("../assets/images/satisfaccion.jpg") bottom/cover no-repeat;
      }
      
      .two-image6 {
        width: 100%;
        float: left;
        background: url("../assets/images/Concreto-directo.jpg") bottom/cover no-repeat;
        height: 100%; 
      } 
      
      .three-image6 {
        width: 100%;
        background: url("../assets/images/Planta-movil.jpg") bottom/cover no-repeat;
        display: block;
        height: 100%;    
        float: left;
      }  

      .four-image6{
        width: 100%;
        background: url("../assets/images/Aplicaciones1.jpg") bottom/cover no-repeat;
        display: block;
        height: 100%;    
        float: left;
      }
    }

    .side-left-wrapper6 {      
      color: $white;
      width: 68%;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);

      @include medium{
        height: 100%;
        width: 100%;
        padding: 10px 20px;
      }

      @include small{
        width: 100%;
        margin: auto;
        padding: 21px 25px;
      }

      @include galaxy-small{
        padding: 8px 14px;
      }

      @include extra-small{
        width: 100%;
        height: 100%;
        padding: 12px;
      }

      .side-left-title6 {
        font-size: 2.0em;
        text-align: left;
        font-family: Raleway-Semibold;
        color: $white;    
        line-height: 24px;
        width: 50%;
        font-weight: bold;    
        margin-bottom: 15px;

        @include medium{
          margin: auto;
          text-align: center;
        }

        @include small{
          margin: auto;
          width: 100%;
          text-align: center;
          font-size: 3.0em;
        }
      }

      .side-left-title-solution{
        font-size: 2.2em;
        text-align: left;
        font-family: Raleway-Semibold;
        color: $white;    
        font-weight: bold;
        line-height: 26px;
        width: 80%;

        @include medium{
          width: 100%;
          text-align: left;
          font-size: 3.0em;
        }

        @include small{
          width: 100%;
          margin: auto;
          text-align: center;
        }

        @include nexus{
          text-align: center;
        }        
      }

      .divided-paragraph-solution{
        color: $white;
        font-size: 1.5em;
        font-family: Raleway-Regular;
        line-height: 18px;
        font-weight: 500px;
        margin: 0;
        width: 85%;

        @include medium{
          font-size: 1.5em;
          text-align: left;
          font-family: Raleway-Regular;
          width: 100%;
        }

        @include small{
          width: 100%;
          margin: auto;
          text-align: center;
          font-size: 2.0em;
          margin-top: 10px;
        }

        @include nexus{
          margin-top: 10px;
          font-size: 2.0em;
        }        
      }

      .divided-paragraph6{
        color: $white;
        font-size: 1.5em;
        font-family: Raleway-Light;
        line-height: 18px;
        font-weight: 500px;
        margin: 0;
        width: 80%;
        margin-bottom: 15px;

        @include medium{
          margin: 10px auto;
          text-align: center;
          width: 83%;
          font-size: 1.3em;
        }

        @include small{
          width: 100%;
          margin-top: 10px;
          text-align: center;
        }
      }
      
      .divided-text6 {
      font-size: 1.5em;
      margin-top: 1.5em;
      line-height: 18px;      
      margin: auto;
      font-family: Raleway-Light;
      padding: 0 0 0 1em;

      @include medium{
        width: 83%;
      }

      @include small{
        width: 100%;
        font-size: 1.3em;
      }

      .divided-dot6{
        color: $white;
        list-style-type: disc;

        .divided-span6{
          color: $white;
        }  
      }
    }
    .soluttions-button-wrapper{
      margin: auto;
      text-align: left;
      margin-top: 10px;

      @include medium{
        text-align: center;
      }

      @include small{
        text-align: center;
      }

      .solutions-button-aplicattions{          
        background-color: $blueText;
        color: $white;
        border-radius: 100px;
        border: 2px solid $white;
        font-family: Raleway-Light;
        font-size: 1.3em;
        text-align: center;
        line-height: 15px;
        padding: 5px;
        margin-top: 12px;

        &:hover{
          background-color: $white;
          color: $blueText;
          cursor: pointer;
          font-family: Raleway-Semibold;
        }

        @include medium{
          width: 60%;
          margin: auto;
        }

        @include small{
          margin: auto;
        }

        @include extra-small{
          text-align: center;
          margin: auto;
        }
      } 
    }
  }
}
  
  .side-right6{
    @include small {
      height: 50%;      
    }

    @include extra-small{
      width: 100%;
      height: 50%;
    } 
  }
}
    