//AQUI COMIENZA LA SECCION DE LA IMAGEN DE FONDO DEL HERO
.image-hero-solutions{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 364px;
  height: 50%;  
  text-align: center;
  width: 100%;
  border: none;
  margin: 0;
  padding: 100px 15px;
  background-image: url("../assets/images/Soluciones-constructivas.jpg");
  
  
  .solutions-image-hero{
    color: $white;
    text-align: center;
    font-family: Raleway-Regular;
    font-size: 6.0em;
    font-weight: bold;
    line-height: 70px;
    letter-spacing: 1px;
    min-width: 21.09%;
    transform: translateY(-0%);
  }
}

//AQUI COMIENZA LA SECCION DEL TEXTO CENTRADO DEL HERO
.solutions-centered-text{
  text-align: center;
  background-color: $blueText;
  padding: 100px 15px;
  width: 100%;
  border: none;
  margin: 0;

  @include small{
    width: 100%;
  }

  .solutions-hero-text{
    width: 34.77%;
    text-align: center;
    color: $white;
    font-size: 2.0em;
    font-family: Raleway-Light;
    font-weight: 500px;
    line-height: 24px;
    transform: translateY(-10%);
    margin: 0 32.73%;

    @include medium{
      font-size: 3.0em;
      text-align: center;
      width: 60%;
      margin: auto
    }

    @include small{
      width: 100%;
      padding: 0;
      margin: auto;
    }    
  }
}

//AQUI COMIENZA LA SECCION DEL TEXTO CENTRADO
.solutions-centered-title{
  width: 100%;
  background-color: $blueText;
  color: $white;

  .solution-wrapper-title{
    font-family: Raleway-Regular;
    font-size: 3.6em;
    line-height: 42px;
    text-align: center;
    padding: 25px 0;

    @include small{
      width: 100%;
    }
  }
}

//AQUI COMIENZA LA SECCION DEL TEXTO CENTRADO CON FONDO BLANCO
.solution-concrete-centered{
  width: 100%;
  background-color: $white;
  color: $blueText;

  .solution-wrapper-concrete{
    font-family: Raleway-Regular;
    font-size: 3.6em;
    line-height: 42px;
    text-align: center;
    padding: 40px 0;
  }
}

//AQUI COMIENZA LA SECCION DE LAS 4 IMAGENES
.image-section-solutions{
  width: 100%;
  height: 286px;

  .first-image-wrapper{
    background-image: url("../assets/images/Arena.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    margin: 0;
    width: 20%;
    float: left;
    text-align: center;
    padding: 100px 0;

    .first-solution-title{      
      color: $white;
      font-family: Raleway-Regular;
      line-height: 19px;
      font-size: 2.0em;

      @include medium{
        font-size: 2.5em;
      }
    }
  }

  .second-image-wrapper{
    @extend .first-image-wrapper;
    background-image: url("../assets/images/Grava.jpg");

    .second-solution-title{
      @extend .first-solution-title;
    }
  }

  .third-image-wrapper{
    @extend .first-image-wrapper;
    background-image: url("../assets/images/Sello.jpg");

    .third-solution-title{
      @extend .first-solution-title;
    }
  }

  .fourth-image-wrapper{
    
    /*@include small{
      padding: 120px 0;
    }*/

    /*@include medium{
      font-size: 2.5em;
      }*/

    @extend .first-image-wrapper;
    background-image: url("../assets/images/Piedra.jpg");

    .fourth-solution-title{
      @extend .first-solution-title;
      /*margin: 0;
      line-height: 40px;*/

      /*@include small{
        line-height: 1px;
      }*/
    }

    .fourth-solution-p{
      padding: 0 0;
      position: relative;
      color: $white;
      font-family: Raleway-Regular;
      line-height: 19px;
      float: center;
      font-size: 1.5em;
      display: inline-block;
      transform: translateY(-0%);
      margin: auto;
      margin-top: 7px;

    @include small{
      line-height: 23px;
      }
    }    
  }

  .fifth-image-wrapper{
    @extend .first-image-wrapper;
    background-image: url("../assets/images/Jal.jpg");

    .fifth-solution-title{
      @extend .first-solution-title;
    }
  }
}

    //AQUI COMIENZA LA SECCION DEL BOTON CENTRADO
.solution-button-centered{
  width: 100%;
  background-color: $white;

  @include small{
    text-align: center;
    width: 100%;
  }

  .solution-button-wrapper{
    transform: translateY(0%);
    width: 30%;
    padding: 90px 0;
    text-align: center;
    margin: auto;

    @include medium{
      font-size: 1.2em;
    }

    .solution-button{
      width: 40%;
      background-color: $white;
      color: $blueText;
      border-radius: 100px;
      border: 2px solid $blueText;
      font-family: Raleway-Light;
      font-size: 1.3em;
      text-align: center;
      line-height: 15px;
      padding: 5px;

      @include medium{
        font-size: 2.0em;
        width: 100%;
        font-family: Raleway-Semibold;
      }

      @include small{
        width: 125%;
      }      

      &:hover{
        background-color: $blueText;
        color: $white;
        font-family: Raleway-Semibold;
        cursor: pointer;
      }
    }
  }
}

//AQUI COMIENZA LA SECCION DE SERVICIOS
    //AQUI COMIENZA LA SECCION DEL TITULO PRINCIPAL CENTRADO
.solution-services-centered{
  width: 100%;
  background-color: $blueText;
  color: $white;

  .solution-wrapper-services{
    text-align: center;
    padding: 57px 0;
  }

  .services-h4{
    font-family: Raleway-Regular;
    font-size: 3.6em;
    line-height: 42px;
    margin: auto;
  }

  .services-paragraph{
    text-align: center;
    line-height: 18px;
    font-size: 2.5em;
    font-family: Raleway-Regular;
    margin: 23px 0; 
  }
}

    //AQUI COMIENZA LA SECCION DE LAS PRIMERAS 4 IMAGENES
.image-section-services{
  width: 100%;
  height: 250px;

  .first-image-wrapper-services{
    background-image: url("../assets/images/Excavadora.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    height: 100%;
    margin: 0;
    width: 25%;
    float: left;
    padding: 100px 0;
    text-align: center;

    @include small{
      width: 50%;
    }

    .first-services-title{
      position: relative;
      color: $white;
      font-family: Raleway-Regular;
      line-height: 19px;
      float: center;
      font-size: 2.0em;
      display: inline-block;
      transform: translateY(-0%);
      margin: auto;
    }  
  }

  .second-image-wrapper-services{
    @extend .first-image-wrapper-services;
    background-image: url("../assets/images/Retroexcavadoras.jpg");

    .second-services-title{
      @extend .first-services-title;

      @include small{
        width: 100%;
      }
    }  
  }

  .third-image-wrapper-services{
    @extend .first-image-wrapper-services;
    background-image: url("../assets/images/Bulldozers.jpg");

    .third-services-title{
      @extend .first-services-title;
    }  
  }

  .fourth-image-wrapper-services{
    @extend .first-image-wrapper-services;
    background-image: url("../assets/images/Motoconformadoras.jpg");

    .fourth-services-title{
      @extend .first-services-title;
    }  
  }
}

    //AQUI COMIENZA LA SECCION DE LAS SEGUNDAS 4 IMAGENES
.image-section-services2{
  width: 100%;
  height: 250px;

  .first-image-wrapper-services2{
    background-image: url("../assets/images/Trailer.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    height: 100%;
    margin: 0;
    width: 25%;
    float: left;
    padding: 100px 0;
    text-align: center;

    @include small{
      width: 50%;
    }

    .first-services-title2{
      position: relative;
      color: $white;
      font-family: Raleway-Regular;
      line-height: 19px;
      float: center;
      font-size: 2.0em;
      display: inline-block;
      transform: translateY(-0%);
      margin: auto;     
    }  
  }

  .second-image-wrapper-services2{    
    @extend .first-image-wrapper-services2;
    background-image: url("../assets/images/Camion-volteo.jpg");

    .second-services-title2{
      @extend .first-services-title2;
    }  
  }

  .third-image-wrapper-services2{
    @extend .first-image-wrapper-services2;
    background-image: url("../assets/images/Compactadoras.jpg");

    .third-services-title2{
      @extend .first-services-title2;
    }  
  }

  .fourth-image-wrapper-services2{
    @extend .first-image-wrapper-services2;
    background-image: url("../assets/images/Cargador-frontal.jpg");

    .fourth-services-title2{
      @extend .first-services-title2;
    }  
  }
}

    //AQUI COMIENZA LA SECCION DE TRASLADO DE MAQUINARÍA
.translate-services{
  width: 100%;
  background-color: $blueText;

  .translate-p-wrapper{
    width: 100%;

    .translate-p{
      color: $white;
      text-align: center;
      line-height: 40px;
      font-size: 2.5em;
      font-family: Raleway-Semibold;
      margin: auto;
      padding: 50px 0;
    }
  }

  .translate-image-wrapper{
    background-image: url("../assets/images/Cama-baja.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    margin: auto;
    width: 25%;
    padding: 100px 0;
    text-align: center; 

    @include small{
      width: 100%;
      padding: 0;
      margin: auto;
    }

    .translate-title{
      color: $white;
      font-family: Raleway-Regular;
      line-height: 19px;
      font-size: 2.0em;      
      margin: auto;

      @include small{
        font-size: 2.5em;
        padding: 40px 0;
      }
    }  
  }

  .translate-button-wrapper{
    transform: translateY(0%);
    width: 30%;
    padding: 25px 0;
    text-align: center;
    margin: auto;

    .translate-button{
      width: 40%;
      background-color: $blueText;
      color: $white;
      border-radius: 100px;
      border: 2px solid $white;
      font-family: Raleway-Light;
      font-size: 1.3em;
      text-align: center;
      line-height: 15px;
      padding: 5px;
      margin-top: 12px;

      @include medium{
        font-size: 2.0em;
        width: 100%;
        min-width: 120%;
        font-family: Raleway-Semibold;
      }

      @include small{
        width: 100%;
      }      

      &:hover{
        background-color: $white;
        color: $blueText;
        font-family: Raleway-Semibold;
        cursor: pointer;
      }
    }
  }
} 

//AQUI COMIENZA LA SECCION DE ATENCION DE CALIDAD
.atenttion-section{
  width: 100%;
  background-color: $white;

  .attention-title-wrapper{
    width: 100%;
    padding: 50px 0;
    text-align: center;

    @include small{
      width: 100%;
      padding: 50px 0;
    }

    .attention-title{
      color: $blueText;
      text-align: center;
      font-size: 3.6em;
      font-family: Raleway-Regular;
      margin: auto;
      width: 50%;
      padding: 30px 0;

      @include small{
        font-size: 2.5em;
        width: 100%;
        padding: 10px;
      }
    }

    .attention-text-wrapper{
      width: 100%;

      .attention-paragraph{
        color: $grayTitles;
        width: 26%;
        font-size: 1.5em;
        font-family: Raleway-Semibold;
        line-height: 18px;
        text-align: left;
        margin: auto;
        font-weight: 500px;

        @include medium{
          font-size: 2.0em;
          width: 50%;
          text-align: center;
        }

        @include small{
          width: 80%;
          text-align: center;
        }      
      }
    
      .attention-list{
        display: table;
        margin: 0 auto;
        font-size: 1.5em;
        margin-top: 1.5em;
        text-align: left;
        font-family: Raleway-Semibold;
        padding: 0 0 0 15px;
        width: 26%;

        @include medium{
          padding: 0 0 0 25px;
          font-size: 2.0em;
          width: 50%;
        }

        @include small{
          width: 80%;
          padding: 0 0 0 25px;
        }      

        .attention-dot{
          color: $blueText;        
          list-style-type: disc;
        }

        .attention-text{
          color: $grayTitles;
          font-family: Raleway-Semibold;
        }
      }
    }
  }
} 