.bubbles {
  background-color: $white;
  padding: 8em 0;
  text-align: center;
  width: 100%;

  .bubble-title {
  	color: #0065DC;
    display: inline-block;
    font-family: Raleway-SemiBold;
    font-size: 2.6em;
    font-weight: bold;
    line-height: 42px;	
    text-align: center;
    max-width: 567px;
  }

  .bubble-container {
  	display: inline-block;
  	width: 80%;	
  }

  .bubble-item {
  	background-color: $grayText;
  	border-radius: 50%;
  	display: inline-block;
  	height: 86px;
  	margin: 1.5em 4vw;
  	width: 86px;
  }
}