.home-first-section{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
	width: 100%;
  
  .carousel{
    height: 100vh;
    
      .carousel-indicators {
        bottom: 0 !important;
      }
      
      .item{
        height: 100vh !important;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
	    width: 100%;
          
          
        .img1{
          background-image: url(../assets/homeImages/constructoraExample2.png);
          background-size: cover;
          background-repeat: no-repeat;
          height: 100vh;
	      width: 100%;
         
        }
        .img2{
          background-image: url(../assets/homeImages/constructoraExample1.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          height: 100vh;
          width: 100%;
        }
        .img3{
          background-image: url(../assets/homeImages/constructoraExample3.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          height: 100vh;
          width: 100%;
        }
      }  
  }
      
  .wrapper-bottom-right{
    bottom: 15%;
    position: absolute;
    right: 10%;
    
      .logo-bottom-right{
        background-image:url(../assets/homeImages/Logo.png);
        background-size: contain;
        background-repeat: no-repeat; 
        height: 100%;
        min-height:187px;
        min-width:183px;  
        width: 100%;
      }
      
      .paragraph-bottom-right{
        color: $grayH2;
        font-family: Raleway-Light;
        font-size: 2em;
        font-weight: 600;
        line-height: 1.2em;
        max-width: 250px;
        padding-top: 1.5em;
      }
  }
}