
.blocker{
  z-index: 4 !important;

    .modal{
      height: 80%;
      top: 50px !important;
      width: 80% !important;
      max-width: 100% !important;

         a.close-modal{
          top: 7.5px !important;
          right: 6.5px !important;
         }

        .home-video-modal{
          height: 80%;
          position: absolute;
          top: 10%;
          left: 0;
          width: 100%;

          @include medium{
            left: auto;
            width: 80%;
          }
        }
    }
}
.home-first-section{
    position: relative;
    overflow: hidden;

      .transparent-background{
        background-color: rgba(255,255,255,0.7);
        height: 100vh;
        position: relative;
        width: 100%;
        z-index: 1;
      }
      .home-video{
        height: auto;
        min-height: 100vh;
        position: absolute;
        width: auto;
        top: 50%;
        transform: translate(-50%,-50%);
        left: 50%;
        min-width: 100vw;
      }

      .wrapper-bottom-right{
        bottom: 50px;
        position: absolute;
        right: 3%;
        z-index: 2;
        
        @include medium{
          bottom: 20%;
        }

          .logo-bottom-right{
            background-image:url(../assets/homeImages/Logo.png);
            background-size: contain;
            background-repeat: no-repeat;
            height: 100%;
            min-height:187px;
            min-width:183px;
            width: 100%;
          }

          .paragraph-bottom-right{
            color: $grayH2;
            font-family: Raleway-SemiBold;
            font-size: 1.5em;
            font-weight: 600;
            line-height: 1.2em;
            max-width: 295px;
            padding-top: 1.5em;
          }
      }

      .button-video{
        @include center(true,false);
        
        border: 2px solid $blueText;
        bottom: 50px;
        background-color: transparent;
        border-radius: 100px;
        color: $blueText;
        height: 38px;
        font-family: Raleway-SemiBold;
        font-size: 1em;
        font-weight: bold;
        line-height: 15px;
        width: 130px;
        z-index: 2;

        &:hover {
          background-color: $blueText;
          color: $whitePearl;
          cursor: pointer;
          }
      }
}
