.section-contact{
  height: 100vh;
  
  .map{
    display: inline-block;
    height: 100%;
    width: 50%;
    
    .frame-map{
      @include center(false,true);
      
      display: block;
      height: 80%;
      margin: auto;
      position: relative;
      width: 80%; 
    }
  }
  .right-contact{
     height: 100%;
     width: 50%;
     display: inline-block;
     float: right;
      
    .form-wrapper{
        @include center(false,true);

        display: block;        
        position: relative;
        margin: auto;
        max-width: 435px;
        
          .address-title{
            color: #0065DC;
            font-family: Raleway-SemiBold;
            font-size: 36px;
            font-weight: bold;
            line-height: 42px;
          }
      
          .address-paragraph{
            text-align: left;
            max-width: 224px;
            color: $grayTitles;
            font-family: Raleway-Light;
            font-size: 1.4em;
            font-weight: 500;
            line-height: 20px;
            
              .address-subtitle{
                font-family: Raleway-SemiBold;
              }
          }
        
          .contact{
            border-radius: 20px;
            background-color: $whitePearl;
            height: 100%;
            max-height: 248px;
            max-width: 435px;
            margin-top: 40px;
            padding: 20px;
            width:100%;
          
              
              .title-form{
                color: $grayNavbar;
                font-family: Raleway-SemiBold;
                font-size: 1.4em;
                font-weight: bold;	
                line-height: 24px;
                text-align: center;
                max-width: 364px;
              }
            
              .input-full{
                border-radius: 100px;
                background-color: $white;
                height: 34px;
                max-width: 385px;
                margin: 5px;
                width: 100%;
                -webkit-appearance: caret;
                
                
              }
            
              ::placeholder{
                color: $grayCard;
                font-family: Raleway-Light;
                font-size: 1em;
                font-weight: 500;
                line-height: 18px;
                padding-left: 10px;
              }
            
              .input-half{    
                border-radius: 100px;
                background-color: $white;
                height: 34px;
                margin: 5px;
                -webkit-appearance: caret;
                width: 50%;
               
              }
             
              .button-gray{
                background-color: $grayNavbar;
                border-radius: 100px;
                color: $white;
                height: 34px;
                float: right;
                margin: 5px;
                width: 40%;
              }
          }
        
    }

    
  }
}