.divided-two-left {

  .side-right {
    float: left;
  }
  .side-left-us {
    float: right;
  }
}

.divided-two-right {

  .side-right {
    float: right;
  }

  .side-left-us {
    float: left;

    @include small{
      height: 50%;
      width: 100%;
    }
  }
}

.divided-two-left, .divided-two-right {
  height: 30vw;
  background-color: $white;
 
  @include small {
    height: 200vw;      
  }

  &.divided-two-right-us{

    @include small{
      height: 100vw;
    }
  }

  .side-left-us, .side-right {
    font-family: Raleway-Regular;
    position: relative;
    width: 50%; 
    height: 30vw;   
      
    @include small {
      width: 100%;
      height: 50%;  
    }    

    .side-right-wrapper {
      height: 100%;
      width: 100%;  
    
      @include small{
        height: 100%;
      }

      .one-image{
        width: 100%; 
        background: url("../assets/images/Nuestra-gente.jpg") bottom/cover no-repeat;
        height: 100%; 
        float: left;
        display: block;
      } 

      .one-image-solution{
        @extend .one-image;
        background: url("../assets/images/satisfaccion.jpg") bottom/cover no-repeat;
      }

      .one-image-us{
        @extend .one-image;
        background: url("../assets/images/Nuestra-gente.jpg") bottom/cover no-repeat;
      } 
      
      .two-image {
        width: 50%;
        float: left;
        background: url("../assets/images/Entorno.jpg") bottom/cover no-repeat;
        height: 100%; 
      } 

      .two-image-us{
        @extend .one-image;
        background: url("../assets/images/Entorno.jpg") bottom/cover no-repeat;
      }
      
      .three-image {
        width: 33.3%;
        background: url("../assets/images/Seguridad.jpg") bottom/cover no-repeat;
        display: block;
        height: 100%;    
        float: left;
      }  

      .three-image-us{
        @extend .one-image;
        background: url("../assets/images/Seguridad.jpg") bottom/cover no-repeat;
      }
    }

    .side-left-wrapper {
      color: $blueText;
      width: 68%;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%); 

      @include small{
        margin: auto;
        width: 100%;
        font-size: 2.0em;
        height: 100%;
        padding: 30px 10px;
      }

      &.side-left-wrapper-us{
      
        @include small{
          height: 50vw;
          padding:10px;
        }
      }

      .side-left-title {
        margin: 0;
        font-size: 3.6em;
        text-align: left;
        font-family: Raleway-Semibold;
        color: $blueText;    
        line-height: 35px;
        width: 60%;
        font-weight: bold;    
        margin-bottom: 10px;

        @include small{
          width: 100%;
          margin: auto;
          text-align: center;
          font-size: 1.0em;
        }
      }

      .side-left-title-solution{
        font-size: 2.2em;
        text-align: left;
        font-family: Raleway-Semibold;
        color: $blueText;    
        font-weight: bold;
        line-height: 26px;
        width: 80%;

        @include medium{
          width: 100%;
          text-align: left;
          font-size: 3.0em;
        }

        @include small{
          width: 100%;
          margin: auto;
          text-align: center;
        }        
      }

      .divided-paragraph{
        color: $grayTitles;
        font-size: 1.5em;
        font-family: Raleway-Semibold;
        line-height: 18px;
        font-weight: 500px;
        margin: 0;
        margin-bottom: 10px;
        width: 100%;

        @include small{
          font-size: 1.0em;
          margin: auto;
          width: 100%;
        }

        &.divided-paragraph-us{

          @include small{
            line-height: 2;
          }
        }
      }

      .divided-paragraph-solution{
        color: $grayTitles;
        font-size: 1.5em;
        font-family: Raleway-Semibold;
        line-height: 18px;
        font-weight: 500px;
        margin: 0;
        width: 85%;

        @include medium{
          font-size: 2.0em;
          text-align: left;
          width: 100%;
        }

        @include small{
          width: 90%;
          margin: auto;
          text-align: center;
        }        
      }

      .divided-text {
        font-size: 1.5em;
        margin-top: 1.5em;
        line-height: 18px;      
        margin: auto;
        font-family: Raleway-Semibold;
        padding: 0 0 0 1em;

        @include small{
          font-size: 1.0em;
          margin: auto;
          width: 100%;
        }

        &.divided-text-us{

          @include small{
            font-size:8px;
            line-height: 1;
          }
        }

      .divided-dot{
        color: $blueText;
        list-style-type: disc;

        .divided-span{
          color: $grayTitles;
        }  
      }

      .contact-new-button{
        width: 20%;
        background-color: $white;
        color: $blueText;
        border-radius: 100px;
        border: 2px solid $blueText;
        font-family: Raleway-Regular;
        font-size: 1.3em;
        text-align: center;
        line-height: 15px;
        padding: 10px;

        &:hover{
          background-color: $white;
          color: $blueText;
          cursor: pointer;
          font-family: Raleway-Semibold;
          font-weight: bold;
        }
      }
    } 
  }
}
  
  .side-right{
    @include small {
      height: 50%;      
    } 
  }
}    