.us-first-section{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;	
  text-align: center;
  background-image: url("../assets/images/us-firt.jpeg");
  width: 100%;
  border: none;
  margin: 0;
  padding: 100px 15px;
  
  
  .us-first-title{
    color: $white;
    text-align: center;
    font-family: Raleway-Regular;
    font-size: 6.0em;
    font-weight: bold;
    line-height: 70px;
    letter-spacing: 1px;
    min-width: 21.09%;
    transform: translateY(-80%);
  }
}

.us-centered-text{
  height: 50vh;
  text-align: center;
  background-color: $blueText;
  padding: 60px 15px;
  width: 100%;
  border: none;
  margin: 0;
  
  .hero-text{
    width: 34.77%;
    text-align: center;
    color: $white;
    font-size: 2.0em;
    font-family: Raleway-Light;
    font-weight: 500px;
    line-height: 24px;
    transform: translateY(-10%);
    margin: 0 32.73%;
  }
}